# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular Data Science Languages are:
    
1. Python
2. R
3. SQL
4. Julia
5. Java
6. C++
7. C

**Objectives:**

- Identify Data Science Libraries
- Identify Data Science Languages
- Identify Data Science Tools
- Demonstrate equation solving in JupyterNotebook

Some commonly used libraries for Data Science include:
    
    1. Pytorch
    2. Pandas
    3. TensorFlow
    4. NumPy
    5. Matplotlib
    6. Keras
    7. SciPy

| Data Science Tools |
| ---- |
| Jupyter Notebook |
| Apache Spark |
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add intigers.

In [8]:
(3*4)+5

17

This will convert minutes into hours.

In [9]:
200/60

3.3333333333333335

## Author
Russell Ligon